CREATE ABSENCE
<form>
  <label for="name">Legal Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="leavereason">Leave Reason</label><br>
  <select id="leavereason">
    <option value="Quarantine - not sick">Volvo</option>
    <option value="COVID-19">Saab</option>
    <option value="Flu">Mercedes</option>
    <option value="Other Illness">Audi</option>
  </select>
</form>