<h1>Create Absence</h1>
<form>
  <label for="name">Legal Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="leavereason">Leave Reason</label><br>
  <select id="leavereason">
    <option value="Quarantine">Quarantine - not sick</option>
    <option value="COVID">Saab</option>
    <option value="Flu">Mercedes</option>
    <option value="Other Illness">Audi</option>
  </select>
</form>