<link href="/css/filter.css" rel="stylesheet" type="text/css">
<div class="row mt-5 vertical-center">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas"></i> Specify Filter Criteria
      </h1> 
      <form action="/admindashboard" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <select id="location" name="location">
            <option value="newyork">New York, NY</option>
            <option value="atlanta">Atlanta, GA</option>
            <option value="boston">Boston, MA</option>
            <option value="chicago">Chicago, IL</option>
          </select>
        </div>
        <div class="form-group">
          <label for="department">Department</label>
          <select id="department" name="department">
            <option value="hr">Human Resources</option>
            <option value="software">Software</option>
            <option value="rnd">Research and Development</option>
            <option value="marketing">Marketing</option>
          </select>
        </div>
        <div class="form-group">
          <label for="leavereason">Pick Reason for Leave</label>
          <select id="leavereason" name="leavereason" class="form-control">
            <option value="Quarantine">Quarantine - not sick</option>
            <option value="COVID">COVID-19</option>
            <option value="Flu">Flu</option>
            <option value="Other Illness">Other Illness</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block register-button">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
