<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="login.css">
    </head>

    <body>
        <div class="main-login">
            <p class="login" align="center">Login</p>
            <form class="form-login">
                <input class="username-textfield" type="text" align="center" placeholder="Username">
                <input class="password-textfield" type="text" align="center" placeholder="Password">
                <button type="button">Login</button>
            </form>
        </div>
    </body>
    

</html>
