<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="login.css">
    </head>

    <body>

        <div class="logo"></div>

        <div class="main-login">

            <p class="login" align="center">Login</p>

            <form class="form-login" align="center">
                <input class="username-textfield" type="text" placeholder="Username">
                <input class="password-textfield" type="text" placeholder="Password">
                
                <p>
                    <button type="button" class="button" align="center">
                        <p class="button-text" align="center">Login</p>
                    </button>
                </p>
                
            </form>

            

        </div>
    </body>
    

</html>
