<link href="/css/welcome.css" rel="stylesheet" type="text/css">
<body>
    <div class="row mt-5 vertical-center">
      
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <img src="/images/deploya_systems.png" class="rounded mx-auto d-block" style="width:30%; height:30%" alt="...">
          <p style="padding-top: 30px;">Create an account or login</p>
          <a href="/users/register" class="btn btn-primary btn-block mb-2 register-button"
            >Register</a
          >
          <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
      </div>
    </div>  
</body>
